.details-card{
    padding-top: 25px;
    padding-left: 30px;
}
.form{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    
}
textarea{
    margin: 0px;
    height: 150px;
    width: 180px;
  }
.details-btn{
    width: 100%;
}